//
//  Production.xcconfig
//  SwiftNote
//
//  Created by Nguyen Tuan Anh on 06/06/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DOMAIN = tuanem.com
BUILD_SETTING_DECLARATION_NAME = BUILD_SETTING_VALUE_DEFINITION_PRODUCTION
GOOGLE_SERVICE_INFO_PLIST = Config/Development/GoogleService-Info-Production.plist
