<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUILD_SETTING_DECLARATION_NAME</key>
	<string>$(BUILD_SETTING_DECLARATION_NAME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.tuanem.SwiftNote</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>swiftnote</string>
			</array>
		</dict>
	</array>
	<key>CONFIGURATION</key>
	<string>$(CONFIGURATION)</string>
	<key>DOMAIN</key>
	<string>$(DOMAIN)</string>
	<key>GOOGLE_SERVICE_INFO_PLIST</key>
	<string>$(GOOGLE_SERVICE_INFO_PLIST)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Pacifico.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
